.main_page_nav .nav_bar {
    background-color: #00203F;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
}
.main_page_nav .main_page_nav_row{
    margin-left: auto;
    display: flex;

}
.main_page_nav .main_page_nav_row .main_page_nav_about_link
{
    margin-left:20px;
    font-size:15px;
    transition: .3s;
    transition-timing-function: ease-in-out;
}
.main_page_nav .main_page_nav_row .main_page_nav_about_link:hover{
    color:#FBB086;
    transition: .3s;
    transition-timing-function: ease-in-out;
    transform: scale(1.05)

}
.main_page_nav .main_page_nav_row .main_page_nav_login_dropdown
{
   
    margin-left:20px;
    margin-right:10px;
    font-size:15px;
    transition: .3s;
    transition-timing-function: ease-in-out;
}
.main_page_nav .main_page_nav_row .main_page_nav_login_dropdown:hover{
    color:#FBB086;
    transition: .3s;
    transition-timing-function: ease-in-out;
    transform: scale(1.05)
    
}

.main_page_nav .main_page_nav_row .main_page_nav_login_dropdown .main_page_nav_login_dropdown_list{

width:80px;
height:0px;
background-color: #ADEFD1;
z-index: 2;
position: absolute;
transform: translateX(-15px);
opacity: 0;
transition: all 0.3s;
}


.main_page_nav .main_page_nav_row .main_page_nav_login_dropdown:hover .main_page_nav_login_dropdown_list{
    transition: all 0.3s;
    display:block;
    height:100px;
    opacity: 1;

}


.main_page_nav .nav_bar .main_page_title{
    padding-left: 20px;
color: #ADEFD1;
font-size:  20px;
font-family: "alata";
margin-bottom: 20px;
margin-right: 10px;
}
.main_page_nav .nav_bar .main_page_nav_row
{
    color: #ADEFD1;
    font-family: "alata";
    margin-top: 5px;
    margin-right: 50px;
}















.registration_main_part .registration_main_part_row{

    display:flex;
}

.registration_main_part .registration_main_part_row .recipient_block{
    background-color:#F3F3F3;
    width: 100%;
   padding-left: 50px;

}


.registration_main_part .registration_main_part_row .donor_block{
    padding-left: 50px;
    width: 100%;
    background-color: #C4C4C4;
}
.registration_main_part .registration_main_part_row .recipient_block .recipient_block_button{
    
    padding-top: 7px;
    padding-bottom: 7px;
    max-Width:50px;
    padding-left: 30px;
    padding-right: 40px;
    background-color:#00203F;
    margin-bottom: 100px;
    color:#ADEFD1;
    font-size: 17px;
    font-family: "alata";
    border-style: solid;
    border-color: transparent;
    border-width: 3px;
    transition: .5s;
    transition-timing-function: ease-in-out;
}
.registration_main_part .registration_main_part_row .recipient_block .recipient_block_button:hover{
    border-style: solid;
    border-color: #ADEFD1;
    
    transition: .5s;
    transition-timing-function: ease-in-out;
    
}

.registration_main_part .registration_main_part_row .donor_block .donor_block_button{

    padding-top: 7px;
    padding-bottom: 7px;
    max-Width:50px;
    padding-left: 30px;
    padding-right: 40px;
    background-color:#ADEFD1;
    margin-bottom: 100px;
    color:#00203F;
    font-size: 17px;
    font-family: "alata";
    border-style: solid;
    border-color: transparent;
    border-width: 3px;
    transition: .5s;
    transition-timing-function: ease-in-out;
    

}
.registration_main_part .registration_main_part_row .donor_block .donor_block_button:hover{
    border-style: solid;
    border-color: #00203F;
    
    transition: .5s;
    transition-timing-function: ease-in-out;
    
}
.registration_main_part .registration_main_part_row .recipient_block .recipient_block_text{

    font-family: "alata";
    font-size: 15px;
  color:#00203F;
  margin-bottom: 40px;

}
.recipient_block_headding{
    margin-top: 100px;
    font-family: "alata";
    font-size: 22px;
  color:#00203F;
}
.registration_main_part .registration_main_part_row .donor_block .donor_block_text{

    font-family: "alata";
    font-size: 15px;
  color:#00203F;
  margin-bottom: 40px;

}
.donor_block_headding{
    margin-top: 100px;
    font-family: "alata";
    font-size: 22px;
  color:#00203F;
}
















.instructions_main_part{
    background-color: #00203F;
    display: flex;

}
.instructions_main_part .instructions_main_part_1{
    margin-top: 150px;
    color: #ADEFD1;
    font-family: "alata";
    font-size: 22px;
    max-width: 500px;
    margin-left: 30px;

}
.instructions_main_part .instructions_main_part_card1{
    margin-top: 100px;
    margin-left: auto;
    background-color: #FBB086;
    padding: 30px;
    font-family: "alata";
    font-size: 22px;
  color:#00203F;
  padding-right: 70px;
    display: flex;
    border-radius: 6px;
    z-index: 2;
}
.instructions_main_part .instructions_main_part_card1 .instructions_main_part_card1_text2 .symptoms{

    font-size: 20px;
    

}
.instructions_main_part .instructions_main_part_card1 .instructions_main_part_card1_text2 .symptoms_types{

    font-size: 15px;
    

}
.instructions_main_part .instructions_main_part_card1  .instructions_main_part_card1_divider{

    border-left: 3px solid #00203F;
  height: auto;
    margin-left:60px;
    margin-right: 10px;
    

}

.instructions_main_part .instructions_main_part_card2{
    margin-right: 30px;
    background-color: #ADEFD1;
    max-height: 200px;
    font-family: "alata";
    font-size: 15px;
  color:#00203F;
  padding-right: 70px;
  padding-left: 70px;
  border-radius: 6px;
  margin-top: 30px;

  transform:translateX(-50px);
  transition: .5s;
    transition-timing-function: ease-in-out;


}


.instructions_main_part .instructions_main_part_card2:hover{
    z-index: 3;
    transition: 1.5s;
    transition-timing-function: ease-in-out;

}
.instructions_main_part .instructions_main_part_card2 .precautions{
    margin-top: 25px;
   font-size: 20px;

}
.copoweredby{
    padding-top: 30px;
    background-color: #00203F;
    width:stretch;
    text-align:center;
    color: #ADEFD1;
    font-family: "alata";   
    font-size: 15px;
    padding-bottom: 10px;
}
