<nav class="main_page_nav">
    <div class=" nav_bar">
        <div class="main_page_title">
            Welocme To Covid19 Emegrency R and D 
        </div>
        <div class="main_page_nav_row">
            <div class="main_page_nav_about_link"> 
                about 
            </div>
            
                <div class="main_page_nav_login_dropdown">
                    login
               </div>
            
            
        </div>
    </div>
</nav>
<div class="registration_main_part">
    <div class="registration_main_part_row">
        <div class="recipient_block">
            <div class="recipient_block_headding"> Register as recipitent </div>
            <div class="recipient_block_text">
               
                looking for Blood, Plasma or Oxygen!<br>
                Register here to gain accessto our page.<br>
                its free of cost!
            </div>
            <div class="recipient_block_button">
                register
            </div>
        </div>
        <div class="donor_block">
            <div class="donor_block_headding">
                Register as Donor 
            </div>
            <div class="donor_block_text">
                
                Ready to donate Blood, Plasma or Oxygen! to thr needy people out there.<br>
                then quickly register to let them know your location<br>
                so that they can contact you.
            </div>
            <div class="donor_block_button">
                register
            </div>
        </div>
    </div>
</div>
<div class="instructions_main_part"> 
    <div class="instructions_main_part_1">
        if your having any symptoms mentioned in the orange box, imediately
        contact your nearest hospital take necessary precautions.
    </div>
    <div class="instructions_main_part_card1">
        <div class="instructions_main_part_card1_text1">
            O<sub>2</sub> Levels<br>
            &gt;94%<br>
            and<br>
            &lt;100%
        </div>
        <div class="instructions_main_part_card1_divider"></div>
        <div class="instructions_main_part_card1_text2">
            <div class="symptoms">
            Symptoms:    
            </div>
            <div class="symptoms_types">
                .cough<br>
                .cold<br>
                .fever<br>
                .breathing problems<br>
                .high body pains
            </div>
        </div>
    </div>
    <div class="instructions_main_part_card2">

    </div>
</div>