<div class="nav_bar_login_page">
    <div class="nav_bar_title"> 
        Welocme Please Login
    </div>
</div>
<div class="login_page_main_part">

    <div class="login_page_blob">
        <img  src="assets/login_page_images/heart blob.png" class="login_page_blob_img" alt="heart.png">
    </div>




    <div class="login_page_selection">
        <div class="login_page_selection_description">
            Please select your<br> category below
        </div>
        <div class="login_page_selection_donor">
            Donor
        </div>
        <div class="login_page_selection_divider"></div>
        <div class="login_page_selection_recipient">
            Recipient
        </div>
    </div>





    <div class="login_page_fill_details">
        <div class="login_page_fill_details_title">
            {{login_box_title}}
        </div>
        <div class="login_page_fill_details_email">
            Email
        </div>
        
        <input class="login_page_fill_details_email_input" type="text">
        
        <div class="login_page_fill_details_password">
            Password
        </div>

        <input class="login_page_fill_details_password_input" type="text">
        <div class="login_page_fill_details_login_button">
            login
        </div>    
    </div>



</div>
